
/* Texto  */
h1 {
    color: aliceblue;
    text-shadow: 30px;
}

/*  Imagens dos produtos    */
.imgProd {
    width: 120px;
    height: 100px;
    margin-top: 20px;
    margin-bottom: 20px;
    float: left;
    margin-left: 10px;
}

/*   Nome dos produtos   */
.titleProd {
    color: coral;
}

/*Cor de fundo da Div dos produtos */
.backProdutos {
    background-color: lightcyan;
    border-radius: 5%;
    padding: 2%;
    margin-left: 20%;
    margin-right: 20%;
}

/* Div Resultado, onde aparece o preco */
.resu {
    color: coral;
}