body {

}

h1 {
    color: aliceblue;
    text-shadow: 30px;
}

.imgProd {
    width: 120px;
    height: 100px;
    margin-top: 20px;
    margin-bottom: 20px;
    float: left;
    margin-left: 10px;
}

.titleProd{
    color: coral;
}

.backProdutos{background-color: lightgreen;
    border-radius: 5%;
    padding: 5%;
    margin-left: 20%;
    margin-right: 20%;
}
